flow003_a-temperatura-grupal.json
[
    {
        "id": "5776030919b6c7ea",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1dfe627007dd574f",
        "type": "mqtt out",
        "z": "5776030919b6c7ea",
        "name": "MQTT-1",
        "topic": "codigoIoT/SIC/flow3/temp",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "edd3004a.11da88",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "de3e7510416cfbb9",
        "type": "inject",
        "z": "5776030919b6c7ea",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 290,
        "y": 120,
        "wires": [
            [
                "e2e25fd374cad737"
            ]
        ]
    },
    {
        "id": "e2e25fd374cad737",
        "type": "function",
        "z": "5776030919b6c7ea",
        "name": "",
        "func": "var mydate = new Date(msg.payload);\nvar mytemp = Math.floor((Math.random() * 20) + 10);\nmsg.payload = '{\"ID\":\"Eduardo Rodriguez Martinez\",\"Temp\":\"'+mytemp.toString()+'\",\"mnsg\":\"'+mydate.toString()+'\"}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 120,
        "wires": [
            [
                "1dfe627007dd574f"
            ]
        ]
    },
    {
        "id": "edd3004a.11da88",
        "type": "mqtt-broker",
        "name": "",
        "broker": "3.66.119.222",
        "port": "1883",
        "clientid": "erm-SIC-29437",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "2",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]